.form {
    flex-grow: 1;
    max-width: 400px;
    margin: 0px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.form-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    background-color: #367C2B;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 20px;
}