


.homepage {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
    animation: fadeIn 1.5s ease-out forwards; /* Use 'forwards' to keep the final state of the animation */
    color: #FFFFFF; /* Set text color to white */
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.userposts {
    padding-right: 10px; 
    width: 55%;
    height: 100vh;
    overflow-y: auto;
    background-color: #000000;
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 2px 2px #FFFFFF;
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.sidetitle {
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rightsidebar {
    width: 30%;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
    background-color: #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 2px 2px #FFFFFF;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.userposts::-webkit-scrollbar,
.rightsidebar::-webkit-scrollbar,
.homepage::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.userposts,
.rightsidebar
.homepage {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.home_movie-poster {
    width: 130px;
    height: 200px; 
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
    display: inline-block;
}

.home_movie-poster:hover {
    transform: scale(1.05);
    z-index: 10;
}


