


.homepage {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 20px;
    padding-left: 20px;
    background-color: rgb(36, 36, 36);
}

.userposts {
    padding-right: 10px; 
    width: 55%;
    height: 100vh;
    overflow-y: auto;
}

.sidetitle {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.rightsidebar {
    width: 30%;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(36, 36, 36);
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.userposts::-webkit-scrollbar,
.rightsidebar::-webkit-scrollbar,
.homepage::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.userposts,
.rightsidebar
.homepage {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


