

.post {
    border: 5px solid rgb(98, 98, 98);
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 10px;
    background-color: rgb(98, 98, 98);
    color: rgb(255, 255, 255);
    flex-direction: column;
}

.post img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto;
}

.postactions div:hover {
    opacity: 0.7;
}

.heart, .comment, .share {
    background-image: url('sprites2.png');
    cursor: pointer;

}

